# Default ignored files
/shelf/
/caches/
/artifacts/

/workspace.xml
compiler.xml
deploymentTargetSelector.xml
gradle.xml
kotlinc.xml
migrations.xml
misc.xml
runConfigurations.xml
vcs.xml
.name
/modules.xml
/codeStyles/codeStyleConfig.xml
/codeStyles/Project.xml
